*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: 'Verdana', sans-serif;
	font-size: 18px;
}

body{
	display: flex;
	flex-direction: row;
}
table{
	border-collapse: collapse;
	margin: 25px 0;
	min-width: 400px;
	font-size: 0.9em;
	margin: 40px auto;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
	position: relative;
}

thead{
	background-color: #fcedb9;
	text-align: center;
	font-weight: bold;
	padding: 10px 0 ;
}
td,th{
	padding: 15px 15px;
}
td{
	text-align: center;
}
tr{
	cursor: pointer;
	border-bottom: 1px solid #dddddd;
}
tr:nth-of-type(even){
	background-color: #f3f3f3;
}
tr:hover{
	background-color: #fef6dc;
}

.top{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 800px;
	margin: 50px auto;
}
#left,#right{
	height: 70px;
	width: 70px;
	border-radius: 50%;
	color: #ffff;
	background-color: #ffbe00;
	outline: none;
	font-weight: bold;
	cursor: pointer;
}
#left img,#right img{
	height: 65px;
	width: 65px;
	border-radius: 50%;
	object-fit: inherit;
	border: none;
}
.container{
	padding: 40px 20px;
	margin: 0 auto;
}
#clusterName{
	text-decoration: underline;
	color: #145DA0;
}
#clusterName:hover{
	font-weight: 700;
}
h1{
	font-size: 30px;
}


.infos{
	width: 360px;
	height: 100vh;
	background-color: #5e4640;
	position: fixed;
	
}
#bottom{
	padding: 10px 20px;
	height: 140px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	align-items: center;
}
#bottom img{
	border-radius: 50%;
	border: 2px solid white;
	height: 60px;
	width: 60px;
}
#welcome h4{
	color: #e3e3e3;
	font-style: italic;
	font-weight: lighter;
}
#welcome h3{
	color: white;
	word-wrap: break-word;
}
#bottom a{
	color: #5e4640;
	text-decoration: none;
	padding: 5px;
	font-weight: bold;
	border-radius: 10px;
	cursor: pointer;
	border: none;
	outline: none;
	background-color: white;
}

#infos_top{
	padding: 20px 10px 40px 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	color: white;
	border-bottom: 2px solid white;
}
#infos_top img{
	height: 80px;
}
#infos_top h2{
	padding: 0 10px;
}
#infos_top button, #infos_top button img{
	width: 50px;
	height: 50px;
	background-color: #5e4640;
	outline: none;
	border: none;
	cursor: pointer;
}

.data{
	margin-left: 360px;
}
.dashBoard{
	cursor: pointer;
	display: flex;
	flex-direction: row;
	color: white;
	position: absolute;
	top: 162px;
	left: 0;
	right: 0;
	padding: 20px;
	border-bottom: 1px solid white;
}
.dashBoard a{
	display: flex;
	flex-direction: row;
	align-items: center;
	color: white;
}
.dashBoard a img{
	height: 30px;
	width: 30px;
	background-color: inherit;
}
.dashBoard a h2{
	margin-left: 40px;
}
.dashBoard:hover{
	background-color: #8b685f;
}

.addItems{
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 234px;
	left: 0;
	right: 0;
}
.addItems button{
	background-color: inherit;
	color: white;
	height: 70px;
	border: none;
	cursor: pointer;
	outline: none;
	border-bottom: 1px solid #e3e3e3;
	font-weight: 700 ;
}
.addItems button:hover{
	background-color: #8b685f;
}
.father{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
#inner2{
	position: absolute;
	top: 50%;
	left: 50%;
	height: auto;
	transform: translate(-50%,-50%);
	background-color: white;
	display: flex;
	flex-direction: column;
	margin: 50px;
}
#inner2 h1{
	margin: 40px auto;
	border-left: 5px solid black;
	padding: 5px 10px;
	font-size: 22px;
	background-color: #FAD02C;
}
#close{
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 25px;
	border: none;
	outline: none;
	background: none;
	color: #676767;
	width: 40px;
	height: 40px;
	cursor: pointer;
}
#close:hover{
	color: black;
}
#addVM{
	height: 50px;
	width: 50px;
	font-size: 35px;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #FAD02C;
	color: white;
	border-radius: 50%;
}
#subVM{
	height: 50px;
	width: 50px;
	font-size: 40px;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #800000;
	color: white;
	border-radius: 50%;
}
#inner2 table{
	padding: 50px 50px 20px;
	overflow: hidden;
	table-layout: fixed;
}
#inner2 thead{
	padding: 10px;
}
#inner2 table td{
	padding: 10px;
	text-align: center;
	word-wrap:break-word
}
#inner2 input{
	padding: 5px;
}

#addSub{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 50px 20px;
}

button[name='addToVMs']{
	margin: 20px auto;
	width: 150px;
	padding: 10px;
	cursor: pointer;
	font-size: 20px;
	border-radius: 10px;
}

.resourcesMax{
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 304px;
	left: 0;
	right: 0;
	color: white;
	padding: 20px 0;
}
.resourcesMax div{
	display: flex;
	flex-direction: row;
	padding: 10px;
	justify-content:center;
	align-items: center;
}
.resourcesMax:hover{
	background-color: #8b685f;
}
.resourcesMax h2{
	margin: 10px auto;
	color: #ffbe00;
}
.resourcesMax label{
	width: 120px;
}
.resourcesMax input{
	padding: 5px;
	width: 100px;
}

.father2{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: auto;
	background-color: rgba(0, 0, 0, 0.8);
}
#inner22{
	position: relative;
	background-color: white;
	display: flex;
	flex-direction: column;
	margin: 50px;
}
#inner22 h1{
	margin: 40px auto;
	border-left: 5px solid black;
	padding: 5px 10px;
	font-size: 22px;
	background-color: #FAD02C;
}
