*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: 'Verdana', sans-serif;
	font-size: 18px;
}

#vms, #newStats{
	border-collapse: collapse;
	margin: 25px 0;
	width: 100%;
	font-size: 0.9em;
	margin: 40px auto;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
	table-layout: fixed;
}

#vms thead{
	background-color: #fcedb9;
	text-align: center;
	font-weight: bold;
	padding: 10px 0 ;
}
#newStats thead{
	background-color: gray;
	text-align: center;
	font-weight: bold;
	padding: 10px 0 ;
}
#vms td,th, #newStats td{
	padding: 15px 15px;
	text-align: center;
	word-wrap:break-word
}

#vms tr, #newStats tr{
	border-bottom: 1px solid #dddddd;
}
#vms tr:nth-of-type(even){
	background-color: #f3f3f3;
}
#vms tr:hover{
	background-color: #fef6dc;
}
.container{
	padding: 30px;
}

.top{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 0 50px;
}

#case1{
	padding: 0 20px;
}


.wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.wrapper div{
	padding: 20px 30px;
}

.middle{
	display: flex;
	flex-direction: column;
	padding: 30px 0;
}
#buttons{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
#delete, #reload{
	padding: 15px 20px;
	width: 350px;
	background-color: #fb132c;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	border: none;
	outline: none;
	font-weight: bold;
	transition: 0.8s;
}
#pdf,#excel,#pdf img,#excel img{
	height: 60px;
	width: 60px;
	outline: none;
	border: none;
	cursor: pointer;
	background: none;
}
#pdf, #excel{
	margin-left: 30px;
}
#reload{
	width: 150px;
	margin-left: 30px;
	background-color: gray;
	color: white;
}
#delete:hover{
	background-color: #ce0319;
}

input[type="checkbox"]{
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.infos{
	width: 360px;
	height: 100vh;
	background-color: #5e4640;
	position: fixed;
}
#bottom{
	padding: 10px 20px;
	height: 140px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	align-items: center;
}
#bottom img{
	border-radius: 50%;
	border: 2px solid white;
	height: 60px;
	width: 60px;
}
#welcome h4{
	color: #e3e3e3;
	font-style: italic;
	font-weight: lighter;
}
#welcome h3{
	color: white;
}
#bottom a{
	color: #5e4640;
	text-decoration: none;
	padding: 5px;
	font-weight: bold;
	border-radius: 10px;
	cursor: pointer;
	border: none;
	outline: none;
	background-color: white;
}

#infos_top{
	padding: 20px 10px 40px 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	color: white;
	border-bottom: 2px solid white;
}
#infos_top img{
	height: 80px;
}
#infos_top h2{
	padding: 0 10px;
}
#infos_top button, #infos_top button img{
	width: 50px;
	height: 50px;
	background-color: #5e4640;
	outline: none;
	border: none;
	cursor: pointer;
}

.data{
	margin-left: 360px;
}
.dashBoard{
	cursor: pointer;
	display: flex;
	flex-direction: row;
	color: white;
	position: absolute;
	top: 162px;
	left: 0;
	right: 0;
	
	padding: 20px;
	border-bottom: 1px solid white;
}
.dashBoard a{
	display: flex;
	flex-direction: row;
	align-items: center;
	color: white;
}
.dashBoard a img{
	height: 30px;
	width: 30px;
	background-color: inherit;
}
.dashBoard a h2{
	margin-left: 40px;
}
.dashBoard:hover{
	background-color: #8b685f;
}
.newTask{
	display: flex;
	flex-direction: row;
	color: white;
	position: absolute;
	top: 234px;
	left: 0;
	right: 0;
	padding: 20px;
	border-bottom: 1px solid white;
}

.newTask img{
	height: 30px;
	width: 30px;
	background-color: inherit;
}
.newTask  h2{
	margin-left: 40px;
}
.newTask button, .newTask button img{
	height: 20px;
	width: 30px;
	background-color: inherit;
	outline: none;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	margin-left: 20px;
}
.newTask:hover{
	background-color: #8b685f;
}


.clusterInformations, .clusterInformations2, .whatif{
	border-collapse: collapse;
	font-size: 0.9em;
	margin: 40px;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
}

.clusterInformations thead,.clusterInformations2 thead, .whatif thead{
	background-color: #fcedb9;
	text-align: center;
	font-weight: bold;
	padding: 10px 0 ;
}
.clusterInformations  td,.clusterInformations2 td, .whatif td{
	padding: 15px 25px;
	text-align: center;
}

.clusterInformations tr,.clusterInformations2 tr, .whatif tr{
	border-bottom: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}
.clusterInformations tr:nth-of-type(even),.clusterInformations2 tr:nth-of-type(even), .whatif tr:nth-of-type(even){
	background-color: #f3f3f3;
}
#whatIf{
	margin-left: 50px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.whatif{
	margin-left: 40px;
}
.addItems{
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 305px;
	left: 0;
	right: 0;
	visibility: hidden;
}
.addItems button{
	background-color: inherit;
	color: white;
	height: 60px;
	border: none;
	cursor: pointer;
	outline: none;
	border-bottom: 1px solid #e3e3e3;
}
.addItems button:hover{
	background-color: #8b685f;
}

.father{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
#inner{
	position: relative;
	top: 50%;
	left: 50%;
	height: auto;
	width: 600px;
	transform: translate(-50%,-50%);
	background-color: white;
	display: flex;
	flex-direction: column;
}
#inner h2{
	text-align: center;
	padding: 40px 0 20px;
}

#inner div{
	display: flex;
	flex-direction: row;
	margin: 30px;
}
#inner p{
	padding: 20px 50px;
	color: gray;
	font-size: 16px;
}
#inner label{
	margin: 5px 20px;
}
#inner div input{
	margin-left: 20px;
	width: 70px;
	text-align: center;
	padding: 5px;
}
#inner button{
	width: 100px;
	padding: 5px 10px;
	margin-left: 450px;
	cursor: pointer;
	margin-bottom: 30px ;
}
#close{
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 25px;
	border: none;
	outline: none;
	background: none;
	color: #676767;
	width: 40px;
	height: 40px;
	cursor: pointer;
}
#close:hover{
	color: black;
}
#infos{
	display: flex;
	flex-direction: row;
}
#afterTop{
	padding: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
				0 32px 64px -48px rgba(0, 0, 0, 0.5);
	position: relative;
}
#afterTop button{
	position: absolute;
	top: 15px;
	right: 20px;
	font-size: 30px;
	color: #d3d3d3;
	outline: none;
	background: none;
	border: none;
	width: 40px;
	cursor: pointer;
}
#afterTop button:hover{
	color: black;
}
#afterTop h1{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	padding: 30;x
}

/*test*/
.test{
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 306px;
	left: 0;
	right: 0;
}
.test a{
	background-color: inherit;
	color: white;
	height: 60px;
	border: none;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	border-bottom: 1px solid #e3e3e3;
	line-height: 60px;
	text-align: center;
}
.test a:hover{
	background-color: #8b685f;
}
.container h1{
	text-align: center;
	padding: 20px;
}
#inner2{
	position: absolute;
	top: 50%;
	left: 50%;
	height: auto;
	transform: translate(-50%,-50%);
	background-color: white;
	display: flex;
	flex-direction: column;
	margin: 50px;
}
#inner2 h1{
	
	margin: 40px auto;
	border-left: 5px solid black;
	padding: 5px 10px;
	font-size: 22px;
	background-color: #FAD02C;
}
#addVM{
	height: 50px;
	width: 50px;
	font-size: 35px;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #FAD02C;
	color: white;
	border-radius: 50%;
}
#subVM{
	height: 50px;
	width: 50px;
	font-size: 40px;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #800000;
	color: white;
	border-radius: 50%;
}
#inner2 table{
	padding: 50px 50px 20px;
	overflow: hidden;
	table-layout: fixed;
}
#inner2 thead{
	padding: 10px;
}
#inner2 table td{
	padding: 10px;
	text-align: center;
	word-wrap:break-word
}
#inner2 input{
	padding: 5px;
}

#addSub{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 50px 20px;
}

button[name='addToVMs']{
	margin: 20px auto;
	width: 150px;
	padding: 10px;
	cursor: pointer;
	font-size: 20px;
	border-radius: 10px;
}